<h1>{{t 'auth.signUp.title'}}</h1>

<form autocomplete="off" class="text-center" {{action 'authAction' model on='submit'}}>
  <div class="row">
    <div class="col s12">
      {{form-input
        label=(t 'auth.forms.email')
        model=model
        valuePath='email'
        type='email'
      }}
    </div>
    <div class="col s12">
      {{form-input
        label=(t 'auth.forms.firstName')
        model=model
        valuePath='firstName'
        type='text'
      }}
    </div>
    <div class="col s12">
      {{form-input
        label=(t 'auth.forms.lastName')
        model=model
        valuePath='lastName'
        type='text'
      }}
    </div>
    <div class="col s12">
      {{form-input
        label=(t 'auth.forms.password')
        model=model
        valuePath='password'
        type='password'
      }}
    </div>
    <div class="col s12">
      {{form-input
        label=(t 'auth.forms.passwordConfirmation')
        model=model
        valuePath='passwordConfirmation'
        type='password'
      }}
    </div>
  </div>
  {{form-submit text=(t 'auth.signUp.submit')}}
</form>