<div class="row">
  <div class="col s12">
    {{partial 'dashboard/orders/searcher'}}
  </div>
</div>

<div class="row">
  {{#each orders as |order|}}
    {{orders/order-view order=order}}
  {{else}}
    <div>
      <h5 class="center-align">
        {{t 'orders.notFound'}}
      </h5>
    </div>
  {{/each}}

</div>

<div class="row">
  <div class="col s12">
    {{page-numbers content=content}}
  </div>
</div>