{{#md-card title=orderTitle
  activator=true class=computedClasses}}

  {{#md-card-content}}
    <div class="row">
      <div class="col s12">
        <div class="right-align">
          <h6>
            <strong>
              Fecha:
            </strong>
            <small>
              {{moment-from-now order.createdAt interval=1000}}
            </small>
          </h6>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {{md-badge class='white-text' classNames=orderTypeBadgeClass text=order.type}}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h6>
          <strong>
            Client:
          </strong>
          <small>
            {{order.client.fullName}}
          </small>
        </h6>
        <h6>
          <strong>
            Address:
          </strong>
          <small>
            {{order.client.address}}
          </small>
        </h6>
        <h6>
          <strong>
            Phone Number:
          </strong>
          <small>
            {{order.client.phoneNumber}}
          </small>
        </h6>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col s12">
        <h5 class="pull-right">
          Total:
          <small>
            {{orderTotal}}
          </small>
        </h5>
      </div>
    </div>
  {{/md-card-content}}

  {{#md-card-action class="p-5"}}
    {{md-btn icon='fa fa-edit'
      action='edit' buttonType='floating'
      class='btn-large blue'}}
    {{#unless orderIsCompleted}}
      {{md-btn icon='fa fa-spinner'
      action='changeProgress' buttonType='floating'
      class='btn-large light-green'}}
    {{/unless}}
    {{md-btn icon='fa fa-times'
      action='delete' buttonType='floating'
      class='btn-large red pull-right'}}
  {{/md-card-action}}

  {{#md-card-reveal}}
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Costo Unitario</th>
          <th>Costo Total</th>
        </tr>
      </thead>
      <tbody>
        {{#each orderItems as |orderItem|}}
          <tr>
            <td>
              {{orderItem.product.name}}
            </td>
            <td>
              {{orderItem.quantity}}
            </td>
            <td>
              {{orderItem.product.cost}}
            </td>
            <td>
              {{orderItem.cost}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <h5>
              Total:
            </h5>
          </td>
          <td>
            {{orderTotal}}
          </td>
        </tr>
      </tfoot>
    </table>
  {{/md-card-reveal}}
{{/md-card}}