{{#md-card
    title=orderTitle
    activator=true
    class=computedClasses
}}

  {{#md-card-content}}
    <div class="row">
      <div class="col s12">
        <div class="right-align">
          <h6>
            <strong>
              Date:
            </strong>
            <small>
              {{moment-from-now order.createdAt interval=1000}}
            </small>
          </h6>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {{md-badge class='white-text' classNames=orderTypeBadgeClass text=order.type}}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h6>
          <strong>
            Client:
          </strong>
          <small>
            {{client.fullName}}
          </small>
        </h6>
        <h6>
          <strong>
            Address:
          </strong>
          <small>
            {{client.address}}
          </small>
        </h6>
        <h6>
          <strong>
            Phone Number:
          </strong>
          <small>
            {{client.phoneNumber}}
          </small>
        </h6>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col s12">
        <h5 class="pull-right">
          Total:
          <small>
            {{orderTotal}}
          </small>
        </h5>
      </div>
    </div>
  {{/md-card-content}}

  {{#md-card-action class="p-5"}}
    <div class="row mb-5">
      <div class="col l4 center">
        {{md-btn
            icon='fa fa-edit'
            action='edit'
            buttonType='floating'
            class='btn-large blue'
            isDisabled=orderIsCompleted
        }}
      </div>
      <div class="col l4  center">
        {{md-btn
          icon='fa fa-spinner'
          action='changeProgress'
          buttonType='floating'
          class='btn-large light-green'
          isDisabled=orderIsCompleted
        }}
      </div>
      <div class="col l4  center">
        {{md-btn icon='fa fa-times'
          action='delete' buttonType='floating'
          class='btn-large red'}}
      </div>
    </div>
  {{/md-card-action}}

  {{#md-card-reveal}}
    {{orders/order-breakdown orderItems=orderItems}}
  {{/md-card-reveal}}
{{/md-card}}